<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.lj.store.mapper.CartMapper">

        <sql id="getByUserId" resultType="vip.lj.store.pojo.dto.CartInfoDTO">
         select cid,image,title,price as realPrice,num from t_cart where uid = #{uid}
        </sql>

</mapper>