<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.lj.store.mapper.CartMapper">

    <select id="getByUserId" resultType="vip.lj.store.pojo.dto.CartInfoDTO">
        select cid, image, title, t_cart.price as realPrice, t_cart.num
        from t_cart
                 left join t_product tp
                           on t_cart.pid = tp.id
        where uid = #{uid}
    </select>
    <select id="getByCartIds" resultType="vip.lj.store.pojo.dto.CartInfoDTO">
        select cid, image, title, t_cart.price as realPrice, t_cart.num
        from t_cart
        left join t_product tp
        on t_cart.pid = tp.id
        where cid in
        <foreach collection="cids" item="cid" open="(" close=")" separator=",">
            #{cid}
        </foreach>
    </select>
    <insert id="addCart">
        insert into t_cart(cid, uid, pid, num, price, created_user, created_time)
        values (#{cid}, #{uid}, #{pid}, #{num}, #{price}, #{createdUser}, #{createdTime})
    </insert>
</mapper>