<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="vip.lj.store.mapper.UserMapper">
    <insert id="addUser">
        insert
        into t_user (username, password, is_enable, created_time, created_user)
        values (#{username}, #{password}, 1, #{createdTime}, #{createdUser})
    </insert>
    <select id="getByUsername" resultType="vip.lj.store.pojo.entity.User">
        select *
        from t_user
        where username = #{username}
    </select>
    <select id="getById" resultType="vip.lj.store.pojo.entity.User">
        select *
        from t_user
        where uid = #{id}
    </select>
    <update id="modById">
        update t_user
        <set>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime},
            </if>
            <if test="modifiedUser != null">
                modified_user = #{modifiedUser},
            </if>
        </set>
        where uid = #{id}
    </update>
    <update id="modPwdById">
        update t_user
        set password = #{newPassword}
        where uid = #{id}
    </update>
    <select id="getInfoByUsername" resultMap="UInfoResultMap">
        select distinct t_user.uid,
                        t_user.username,
                        t_user.password,
                        t_user.avatar,
                        t_user.is_enable,
                        t_permission.pid,
                        t_permission.name,
                        t_permission.value
        from t_user
                 left join t_user_role
                           on t_user.uid = t_user_role.uid
                 left join t_role_permission
                           on t_user_role.rid = t_role_permission.rid
                 left join t_permission
                           on t_role_permission.pid = t_permission.pid
        where username = #{username};
    </select>

    <resultMap id="UInfoResultMap" type="vip.lj.store.pojo.dto.UserInfoDTO">
        <id column="uid" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="is_enable" property="isEnable"/>
        <collection property="permissions" ofType="vip.lj.store.pojo.vo.PermissionVO">
            <id column="pid" property="id"/>
            <result column="name" property="name"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
</mapper>